<h1>Listing conversations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Board</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conversations.each do |conversation| %>
  <tr>
    <td><%= conversation.id %></td>
    <td><%= conversation.title %></td>
    <td><%= conversation.board_id %></td>
    <td><%= conversation.user_id %></td>
    <td><%= link_to 'Show', conversation %></td>
    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
    <td><%= link_to 'Destroy', conversation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conversation', new_conversation_path %>
